<div class="skype-button-multi" id="SkypeButtonMulticall_{{ unique_id }}">
    <script type="text/javascript">
        Skype.ui({
            "name": "call",
            "element": "SkypeButtonMulticall_{{ unique_id }}",
            "participants": [{% for participant in participants %}"{{ participant }}",{% endfor %}],
            "imageColor": "{{ image_color }}",
            "imageSize": {{ image_size }},
            "listParticipants": true,
            "video": true,
            "topic": "{{ topic }}",
        });
    </script>
</div>
<div class="skype-button-multi" id="SkypeButtonMultichat_{{ unique_id }}">
    <script type="text/javascript">
      Skype.ui({
        "name": "chat",
        "element": "SkypeButtonMulticall_{{ unique_id }}",
        "participants": [{% for participant in participants %}"{{ participant }}",{% endfor %}],
        "imageColor": "{{ image_color }}",
        "imageSize": {{ image_size }},
        "listParticipants": true,
        "video": true,
        "topic": "{{ topic }}",
      });
    </script>
</div>
